/* Custom properties  */
:root {
  --blanco: #fff;
  --negro: #1111;
  --gris: #343a40;

  --fuentePrincipal: "Raleway", sans-serif;
}
/* Reset  */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Globals */
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin: 1rem 0 4rem 0;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 5.8rem;
}
h3 {
  font-size: 5rem;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

/* components */

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.btn{
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    transition: all 0.4s;
}
.btn:hover{
    background-color: var(--gris);
    color: var(--blanco);
}
/* utilities */
.text-center{
    text-align: center;
}
.mt-5{
    margin-top: 5rem;
}

/** Header **/
.header{
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

@media (min-width: 768px) {
  .header{
    padding: 2rem 0; 
  }
}
.container-header{
  display: flex;
  flex-direction: column;
  height: 56rem;
  justify-content: space-between;
  color: #fff;
}

.nombre-sitio{
  font-weight: 300;
  text-align: center;
  font-size: 3rem;

}
@media (min-width: 768px) {
  .nombre-sitio{
    font-size:5rem;
  }
}
.nombre-sitio>span{
  font-weight: 900;

}
@media (min-width: 768px) {
  .bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
}
.bar{

}